# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
ENV/
env/
.env
*.env

# Django
*.log
*.pot
local_settings.py
db.sqlite3
*.sqlite3
*.sqlite
media/
staticfiles/

# OS files
.DS_Store
Thumbs.db
